
* { 
box-sizing: border-box;
}


.banner1 { 
background-color:black;
color:white;
padding:30px;
}

.makeMeBlue {
    color:blue;
}

@import url(https://fonts.googleapis.com/css?family=Nunito&display=swap);body {
    background-color: #eee;
    margin: 0;
    font-family: 'Nunito', sans-serif;
   }


/*

<span style="color:blue">

*/

/* NAVBAR IN PROGRESS
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  } 
  
  li a {
    display: block;
    background-color: #dddddd;
  }

  */